.page-stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;   
    justify-items: center;
    align-items: center;
}

.tanya-img {
    grid-column: 2;
    grid-row: 1;
    padding-top: 20%;
}

.pattern-bg {
    grid-column:  2;
    grid-row: 1;
    z-index: -1;
}

.button-group {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    margin-top: 41em;
}

button {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

.quotation {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
}







.texts {
    grid-column: 1;
    grid-row: 1;
    padding: 50px;
}


p {
    font-family: 'Inter', sans-serif;
}

.txt-blk {
    font-weight: 500;
    font-size: 32px;
}

.name {
    font-weight: 700;
}

.title {
    font-weight: 300;
}

